.about{
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  &-content{
  display: flex;
  &-img{
    
  flex: 1;
  position: relative;
  display: flex;
    align-items: center;
  
  img{
    display:block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
  //  border: solid 3px #016687;
  
  
  }
  }
  
  &-me{
  flex: 1;
  padding: 0 20px;
 
  p{
line-height: 2;
.brsp{
  display: none;
}
  }
  }

  
  }
  
  }










  @media (max-width:768px){
    .about{
      padding: 40px 0;
      &-content{
    flex-direction:column;
    &-me{
text-align: center;
     
      p{
    line-height: 3;
    text-align: left;
    .brsp{
      display: block;
    }
    .sps{
      display: none;
    }
      }
      }

    }
    
  }
}

@media (max-width: 1023px) and (min-width: 768px){

  .about{
    &-content{

  &-me{

   
    p{
      text-align: left;

    }
    }


}
}
}

