.contact{
text-align: center;
background-color: #eff4ff;
padding: 40px 0;
.form-area{

max-width: 1200px;
margin:0 auto ;
input,textarea{

  display: block;
  margin: 20px auto;
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  height: 50px;
  font-size: 16px;


}

textarea{
  height: auto;
  padding:20px;
  
}
.btn{
  margin-top: 40px;
  width: 20%;
  background-color: #fab979;
  color: white;
  padding: 20px;
  height: auto;
}

}

}

@media (max-width:768px){

  .contact{
    .form-area{
      input,textarea{

    
        width: 80%;
        
       
        
      
      
      }
  .btn{
width: auto;
height: auto;


  }
}
}
}
