.header{
 position: fixed;
 z-index: 10;
 opacity: 0.9;
  width: 100%;
height: 70px;

// background-color: #016687;
// background-color: #40b5c1;
// background-color: #40b5c1;
background-color: #40b5c1;


&-nav{
  display: flex;
  flex-direction: row-reverse;
  .menu{
    display: flex;
    
   

&-item{
line-height: 70px;
padding: 0 13px;
a{
  color: white;
}

}

  }
.sp-menu{
  display: none;
}

}

}

@media (max-width:768px){
  .header-nav{
  
 
.menu{
  display: none;
}
  .sp-menu{
    display: flex;
    flex-direction: row-reverse;
    line-height: 70px;
    margin-right: 20px;

   
    a{

 

    .fa-bars{
      font-size: 30px;
      color: white;
    }
  }
  
  }
}
}