.main{
  text-align: center;
  background-image: url(img/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
  background-position: 0% 100%;


&-content{
padding-top: 80px;

h1{
  font-family: 'Alex Brush', cursive;
  font-size: 120px;
  color: white;
 
}

.creative{
  font-size: 36px;
  color:white;
  margin-top: -40px;
}
.job{
  font-size: 16px;
  color:white;
}

  
}

}


.load-fade {opacity : 0; transition : all 2s/*処理にかかる時間*/;}
.done{opacity : 1; transform : translate(0, 0);}

@media (max-width:768px){
.main{
  background-position: 20% 100%;
  background-size: auto;
  h1{
    font-size: 80px;
  }
}

}